/*Ansicht für mobile Geräte als Default*/
@media screen and (max-width: 600px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

/*Ansicht für Tablets*/
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

/*Ansicht für Desktop*/
@media screen and (min-width: 1025px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
/*Toggle Slider für Darkmode und Lightmode*/
.control-group {
    position: relative;
}

.switch {
    position: absolute;
    right: 0;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        display: none;
    }

    .switch .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #c32e04;
        transition: all .3s ease-in-out;
        border-radius: 35px;
    }

        .switch .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            border-radius: 50%;
            transition: all .3s ease-in-out;
        }

    .switch input:checked + .slider {
        background-color: #2196F3;
    }

    .switch input:focus + .slider {
        background-color: pink;
        box-shadow: 0 0 1px #5a9900;
    }

    .switch input:checked + .slider:before {
        transform: translateX(1.9em);
    }

.container {
    position: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    margin-top: 100px;
    font-size: 2em;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}

.links {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

:root {
    --text-color: #333;
    --background-color: #fff;
}

body.darkmode {
    --text-color: #fff;
    --background-color: #333;
}

body {
    color: var(--text-color);
    background-color: var(--background-color);
}

