
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<div class="control-group">
		<label for="darkmode">
			Darkmode
			<div class="switch">
				<input type="checkbox" id="darkmode" name="darkmode" />
				<span class="slider"></span>
			</div>
		</label>
	</div>
	<script type="application/javascript">
		(function(){
			document.addEventListener("DOMContentLoaded", () => {
				const darkModeToggle = document.querySelector("#darkmode");

				darkModeToggle.addEventListener("change", () => {
					if (darkModeToggle.checked) {
						document.body.classList.add("darkmode");
					} else {
						document.body.classList.remove("darkmode");
					}
				});

			})
		})();
	</script>
	<div class="container">
		<div class="heading">
			<h1>Formular-Tester</h1>
		</div>
		<div class="links">
			<a href="/home/formular1">Formular 1</a>
			<br />
			<a href="/home/formular2">Formular 2</a>
		</div>
	</div>
</body>
</html>
