
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
	<link href="/css/style.css" rel="stylesheet" />
</head>
<body>
	<div class="switch">
		<label for="darkmode-switch">Darkmode</label>
		<input type="checkbox" id="darkmode-switch" name="darkmode-switch" />
		<span class="slider"></span>
	</div>
	<h1>Formular-Tester</h1>
	<div class="links">
		<a href="/home/formular1">Formular 1</a>
		<br />
		<a href="/home/formular2">Formular 2</a>
	</div>
</body>
</html>
