
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Formular-Tester</h1>
    <a href="/home/formular1">Formular 1</a>
    <br/>  
    <a href="/home/formular2">Formular 2</a>
</body>
</html>
